body {
    font-family: Arial, sans-serif;
    background-color: #f7f3f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: #e4d9e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px auto; /* Center content horizontally and give it spacing */
}

h1 {
    text-align: center;
    color: #3c003c;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #3c003c;
}

select, input[type="date"], input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

#rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3c003c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    text-align: center;
    color: #e4d9e9;
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    background-color: #3c003c;
    padding: 10px 0;
}
footer p {
    margin: 5px 0;
}

#e4d9e9;