:root {
    --primary-color: #D2272D; /* Red color in the header */
    --secondary-color: #D2272D; /* Red color in the footer */
    --background-color: #006747; /* Green background color for the headings */
    --text-color: white;
    --transparent-bg: rgba(0, 0, 0, 0.5); /* Semi-transparent background for sections */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

picture {
    position: relative; /* Added for positioning the sections within the picture */
}

picture img {
    width: 100%;
    height: auto;
    max-height: 1000px; /* Added maximum height for the image */
    object-fit: cover;
}

#data, #weather {
    position: absolute;
    background-color: var(--transparent-bg); /* Transparent background for sections */
    color: var(--text-color);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow: hidden; /* Ensure content doesn't overflow */
    max-width: 100%; /* Ensure it fits within the viewport */
    box-sizing: border-box;
}

#data h2, #weather h2 {
    background-color: var(--background-color); /* Green background for headings */
    border-radius: 8px 8px 0 0;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

#weather h2::after {
    content: url('images/1530391_weather_clouds_sun_sunny_icon.svg'); /* Replace with your image path */
    display: inline-block;
    width: 20px; /* Adjust width */
    height: 20px; /* Adjust height */
    margin-left: 8px; /* Adjust margin to space between text and image */
    vertical-align: middle; /* Align with the text */
}

#data {
    top: 10%;
    left: 5%;
}

#weather {
    bottom: 10%;
    right: 5%;
}

main {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 0.5rem; /* Reduced padding */
    font-size: 1rem; /* Reduced font size */
}

.footer-logo {
    margin-top: 10px;
    width: 50px; /* Set the width as needed */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 600px) {
    #data, #weather {
        position: relative;
        width: 90%;
        margin: 10px auto; /* Center the sections on the page */
        left: 0; /* Reset left position */
        right: 0; /* Reset right position */
        top: auto; /* Reset top position */
        bottom: auto; /* Reset bottom position */
    }

    #data {
        order: 1; /* Ensure it appears first */
    }

    #weather {
        order: 2; /* Ensure it appears second */
    }

    main {
        flex-direction: column;
        justify-content: flex-start;
    }
}
